{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div id="hero-image"></div>

      <audio id="song" src="/static/song.mp3" controls autoplay></audio>

      <div class="home-buttons">
        {% if user.is_authenticated %}
        <a href="{% url 'write_to_santa' %}" class="btn btn-primary">Wtite Santa!</a>

        <a href="{% url 'letter_list' %}" class="btn btn-primary">All Letters</a>
        {% else %}
        <a class="btn btn-primary" id="register-btn-main" 
          href="{% url 'account_signup' %}">Register</a>
      
        <a class="btn btn-primary" href="{% url 'account_login' %}"  id="login-btn-main">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
