<nav class="navbar navbar-expand-lg bg-primary navbar-dark high-contrast-navbar">
    <div class="container-fluid">
      <!-- Brand Logo -->
      <a class="navbar-brand" href="#">
        <img src="/static/images/elfos-logo.png" alt="ElfOS Logo" width="30" height="30" class="d-inline-block align-top">
        ElfOS - North Pole Express
      </a>
  
      <!-- Mobile Toggle Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <!-- Home Link -->
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
  
          <!-- Santa's Store Link -->
          <li class="nav-item">
            <a class="nav-link" href="#">Santa’s Store</a>
          </li>
  
          <!-- Write to Santa Link -->
          <li class="nav-item">
            <a class="nav-link" href="#">Write to Santa</a>
          </li>
  
          <!-- Calendar of Events Link -->
          <li class="nav-item">
            <a class="nav-link" href="#">Calendar of Events</a>
          </li>
  
          <!-- Gallery Link -->
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
  
          <!-- About Link -->
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
  
          <!-- Authentication Links -->
          <!-- Logged-in Users -->
          <li class="nav-item">
            <a class="nav-link" href="#">My Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">
              Username
            </a>
          </li>
  
          <!-- Guests -->
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  